<h1>New Product</h1>
<form action="/products" method="post">
  <div>
    Name: <input type="text" name= "name">
  </div>
   <div>
    Price: <input type="text" name= "price">
  </div>
   <div>
    Description: <input type="text" name= "description">
  </div>
  <input type="submit" value= "Create recipe">
</form>